<div class="split-page">
  <section class="split-page__form">
  <div class="form-container">
    <%= image_pack_tag "workflow-logo-on-white.svg", class: "form-logo" %>
    <h1>Join the <%= @invitation.account.organization_name %> account</h1>

    <% if user_signed_in? %>
      <%= render "user_accept" %>
    <% else %>
      <%= render "anonymous_accept" %>
    <% end %>
    
  </div>
  </section>
  <aside class="split-page__graphic">
    <%= image_pack_tag "sign-up.svg", class: "split-page__image"%>
  </aside>
</div>