<tr class="data-table__row">
  <td class="data-table__data">
    <div class="team__user-info">
      <div class="team__avatar-container">
        <!-- image_pack_tag 'users/user-face-1.jpg', class: "top-nav__avatar" -->
      </div>
      <div class="team__personal-info">
        <div class="team__user-name"><%= user.first_name%> <%= user.last_name%></div>
        <div class="team__user-email"><%= user.email%></div>
      </div>
    </div>
  </td>
  <td class="data-table__data">
    <div class="team__job-title"><%= user.job_title %></div>
    <div class="team__company"><%= user.organization %></div>
  </td>
  <td class="data-table__data">
    <div class="pill pill--success"><%= user_account_role(user: user).to_s.capitalize %></div>
  </td>
  <td class="data-table__data">
    <div class="team__actions">
      <%= link_to "Edit", "#", class: "team__action-link" %>
      <%= link_to "Remove", "#", class: "team__action-link" %>
    </div>
  </td>
</tr>