<!DOCTYPE html>
<html>
  <head>
    <title>TestManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_pack_tag 'shared', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'shared', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/alert" %>
    <%= render "layouts/drawer" %>
    <div class="app-content">
      <%= render "layouts/top_app_bar" %>
      <main class="main-content">
        <div class="top-app-bar--fixed-adjust"> 
          <%= yield %>
        </div>
      </main>
    </div>
  </body>
</html>
